In [3]:
import pandas as pd

In [9]:
Label_List = ['I','am','learning','data','science']
Data_List =[1,2,3,4,5]
Pd_Series1 = pd.Series(Data_List,Label_List)
Pd_Series1

I           1
am          2
learning    3
data        4
science     5
dtype: int64

In [15]:
import pandas as pd
DataDict ={"Michael's exam result":35,"Olivia's exam result":85}
A = pd.Series(DataDict)
A

Michael's exam result    35
Olivia's exam result     85
dtype: int64

In [21]:
DataDict2  = {"Michael's exam result":44}
B = pd.Series(DataDict2)
B

Michael's exam result    44
dtype: int64

In [23]:
A + B

Michael's exam result    79.0
Olivia's exam result      NaN
dtype: float64